body {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid black;
}

input[type='text'] {
  padding: 4px;
  min-width: 256px;
  height: 32px;
  border: 2px solid black;
  border-radius: 2px;
}

main {
  position: relative;
  top: 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}

.iconBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 64px;
  margin: 8px;
  padding: 8px;
  font-family: courier;
  font-size: 10px;
  color: black;
  background: white;
  overflow: hidden;
  text-align: center;
}

.iconBox > p {
  width: 64px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

svg {
  width: 64px;
  height: 64px;
  fill: black;
}

dialog {
  background-color: blue;
  color: white;
  border: 0;
  font-family: courier;
  font-size: 16px;
}

dialog::backdrop {
  background-color: transparent;
}

.hidden {
  display: none;
}
